ion-card-content {
  padding-top: 10px;
}

ion-card-header {
  display: flex;
  justify-content: space-between;
}

ion-icon {
  font-size: 1.5rem;
}

.active-team {
  color: limegreen;
}

.card-content {
  color: #0d0d0d;
}

.inactive-team {
  color: #9d9fa6;
}

.team-status-label {
  font-weight: bold;
}
