ion-icon {
  color: darkgray;
  margin: 15px -13px -33px 0;
  font-size: 27px;
  padding: 0px 7px 12px 0px;
}

ion-card {
  background-color: #d9d9d9;
}

ion-item::part(native) {
  background-color: #d9d9d9;
}

.error-text {
  color: red;
  font-size: small;
}

.icon-text {
  color: black;
}
