.buttons {
  display: flex;
  justify-content: space-around;
  background-color: #d9d9d9;
  border-top: #9d9fa6 solid 0.5px;
  padding: 5px;
}
.creation-date-item {
  border-bottom: solid 0.25px;
  border-color: slategray;
}
