<ion-content>
  <ion-card [formGroup]="addTeamForm" class="ion-color-toolbar">
    <ion-card-header>
      <ion-card-title class="ion-text-center">{{'crear equipo' | titlecase}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input formControlName="teamName" type="text"
                   placeholder="Nombre del equipo" name="teamName">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Fecha de fundacion</ion-label>
        <ion-datetime display-format="DD/MM/YYYY" picker-format="DD-MMMM-YYYY"
          month-names = "[Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre]"
          cancel-text="Cancelar"
          done-text="Listo"
          [max]="today"></ion-datetime>
      </ion-item>
      <ion-item lines="none">
        <label>Soy el delegado</label>
        <ion-checkbox mode="ios" slot="end"></ion-checkbox>
      </ion-item>
      <ion-button class="ion-margin-top"
        expand="block"
        [disabled]="!this.addTeamForm.valid"
        color="toolbar">Guardar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
