ion-card {
  background-color: #d9d9d9;
}

ion-card-header {
  display: flex;
  justify-content: space-between;
}

ion-card-content {
  padding-top: 10px;
}

ion-icon {
  font-size: 1.5rem;
}

.card-content {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  color: #0d0d0d;
}

.list-header {
  background-color: #0047b3;
  color: white;
  font-size: large;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.venue {
  color: #0d0d0d;
}
