ion-card-header {
  display: flex;
  justify-content: space-between;
}

ion-card-content {
  padding-top: 10px;
}

ion-icon {
  font-size: 1.5rem;
}

.card-content {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
